@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
p {
	font-size: 18px;
	line-height: 1.5;
	color: #8a8e91;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	position: relative;
	margin: 10px 0;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

ul.white-list {
	padding: 0;
	list-style-type: none;
}

ul.white-list li {
	font-size: 18px;
	margin: 10px 0;
	color: #fff;
}